In [2]:
import pandas as pd
df=pd.read_csv("pincode.csv")

C:\Users\coola\AppData\Local\Temp\ipykernel_8968\2630197335.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("pincode.csv")

In [3]:
rows=len(df.axes[0])
columns=len(df.axes[1])
print('Number of rows' , rows)
print('Number of columns' , columns)
df.shape

Number of rows 157126
Number of columns 11

(157126, 11)

In [4]:
print('Column names are: ')
for col in df.columns :
    print(col)

Column names are:
CircleName
RegionName
DivisionName
OfficeName
Pincode
OfficeType
Delivery
District
StateName
Latitude
Longitude

In [5]:
df1=df.isna().any(axis=0)
# df1
print('Number of columns with missing values')
print(df1.sum())
df1=df.isna().any(axis=1)
#df1
print('Number of rows with missing values')
print(df1.sum())

Number of columns with missing values
4
Number of rows with missing values
8900

In [6]:
df.dtypes

CircleName      object
RegionName      object
DivisionName    object
OfficeName      object
Pincode          int64
OfficeType      object
Delivery        object
District        object
StateName       object
Latitude        object
Longitude       object
dtype: object

In [7]:
convert={'Latitude' : str , 'Longitude' : str}
df=df.astype(convert)
df.dtypes

CircleName      object
RegionName      object
DivisionName    object
OfficeName      object
Pincode          int64
OfficeType      object
Delivery        object
District        object
StateName       object
Latitude        object
Longitude       object
dtype: object

In [24]:
df=df.dropna(axis='rows')
# df
# df=df.reset_index(drop=True)
print('Number of rows and columns after dropping rows with NA')
print(len(df.axes[0]),'    ',len(df.axes[1]))
df.size

Number of rows and columns after dropping rows with NA
157073      11

1727803

In [9]:
convert={'Latitude' : float , 'Longitude' : float}
df=df.astype(convert)
df.dtypes

ValueError: could not convert string to float: '21.9161 N'

In [25]:
df.astype(convert,errors="ignore")
df.dtypes

CircleName      object
RegionName      object
DivisionName    object
OfficeName      object
Pincode          int64
OfficeType      object
Delivery        object
District        object
StateName       object
Latitude        object
Longitude       object
dtype: object

In [10]:
def extractFloat(s):
    def f(c):
      return c.isdigit() or c=="."
    s1=filter(f,s)
    return "".join(s1)
df["Latitude"]=df["Latitude"].apply(extractFloat)
df["Longitude"]=df["Longitude"].apply(extractFloat)
df

,CircleName,RegionName,DivisionName,OfficeName,Pincode,OfficeType,Delivery,District,StateName,Latitude,Longitude
0,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Peddakotla B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5689,77.85624
1,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Pinnadhari B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5281,77.857014
2,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Yerraguntapalle B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.561111,77.85715
3,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Obulareddipalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.2488,78.2588
4,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Odulapalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.24555,78.2477
...,...,...,...,...,...,...,...,...,...,...,...
157068,Uttar Pradesh Circle,Bareilly Region,Meerut Division,Rly Road Meerut SO,250002,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.98,77.6800000
157069,Uttar Pradesh Circle,Bareilly Region,Meerut Division,SGMandi SO,250002,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.9724,77.6753600
157070,Uttar Pradesh Circle,Bareilly Region,Meerut Division,W K Road SO,250001,PO,Non Delivery,MEERUT,UTTAR PRADESH,28.99,77.7100000
157071,Kerala Circle,Calicut Region,Calicut Division,Kakkoti SO,673611,PO,Delivery,KOZHIKODE,KERALA,11.24529,75.7784550
157072,Kerala Circle,Calicut Region,Calicut Division,Kotuvalli SO,673572,PO,Delivery,KOZHIKODE,KERALA,11.35,75.9100000

In [16]:
df.to_csv(r'D:\4-1\DataViz\file.csv')

In [26]:
df2=df.iloc[66:76]
df2

,CircleName,RegionName,DivisionName,OfficeName,Pincode,OfficeType,Delivery,District,StateName,Latitude,Longitude
66,Bihar Circle,"East Region, Bhagalpur",Bhagalpur Division,Mohanpur Govinpur BO,813209,BO,Delivery,BHAGALPUR,BIHAR,26.2465000,87.3969000
67,Bihar Circle,"East Region, Bhagalpur",Bhagalpur Division,Rifatpur BO,813209,BO,Delivery,BHAGALPUR,BIHAR,25.3114000,87.4201000
68,Andhra Pradesh Circle,Visakhapatnam Region,Visakhapatnam Division,Palavalasa B.O,530052,BO,Delivery,VISAKHAPATANAM,ANDHRA PRADESH,17.89,83.34
69,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Sreedharghatta B.O,515871,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.9500000,76.4100000
70,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,N.Thimmapuram B.O,515842,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,15.6700000,77.4100000
71,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Poliki B.O,515842,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,15.0200000,76.6300000
72,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Dosaludiki B.O,515803,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.6800000,77.6100000
73,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Kottala B.O,515803,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,15.1600000,77.3900000
74,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Ayyavaripalli B.O,515775,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,15.0300000,77.4600000
75,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Chinnavadugur B.O,515405,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,15.0200000,77.6700000

In [29]:
df2[['Latitude','Longitude']]

      Latitude   Longitude
66  26.2465000  87.3969000
67  25.3114000  87.4201000
68       17.89       83.34
69  14.9500000  76.4100000
70  15.6700000  77.4100000
71  15.0200000  76.6300000
72  14.6800000  77.6100000
73  15.1600000  77.3900000
74  15.0300000  77.4600000
75  15.0200000  77.6700000